# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Environment/secrets
.env

# Third-party code
Assignment1/pytorch-cifar-models/

# Assignment data
Assignment1/data/
Assignment2/data/
Assignment4/data/

# Some of the models
Assignment2/model/